:root {
    --bg-btn: #333;
    --bg-btn-hover: #6C7A89;
    --bg-imc: #6C7A89;
    --bg-container: white;

    --cor-icon: #333;
    --cor-title: #333;
    --cor-btn: #fff;
    --cor-btn-hover: #333;
    --cor-border-btn-hover: #333;
    --cor-reslt-baixo: #3b82f6;
    /* Azul */
    --cor-reslt-normal: #22c55e;
    /* Verde */
    --cor-reslt-sobrepeso: #eab308;
    /* Amarelo */
    --cor-reslt-obesidade: #f97316;
    /* Laranja */
    --cor-reslt-obesidade-grave: #ef4444;
    /* Vermelho */
}



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-container);
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90%;
    max-width: 700px;
    max-height: 80vh;
    min-height: 50vh;
    overflow-y: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;

}


/* Animação */
@keyframes modalOpen {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.excluir {
    border: none;
    background: #ef4444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.excluir:hover {
    opacity: 0.8;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.modal-content p {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}


#cores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formCores {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    align-items: center;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
}

#formCores label {
    font-weight: 600;
    color: #333;
}

#formCores input[type="color"] {
    width: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
}

#salvar-cores,
#padrao {
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#salvar-cores {
    background: #27ae60;
    color: white;
    grid-column: span 2;
}

#salvar-cores:hover {
    background: #219150;
}

.btnPadrao {
    display: flex;
    justify-content: center;
}

#padrao {
    background: #e74c3c;
    color: white;
}

#padrao:hover {
    background: #c0392b;
}



@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        padding: 15px;
    }

    #formCores {
        grid-template-columns: 1fr;
    }

    #salvar-cores {
        grid-column: auto;
    }

    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 5px;
        font-size: 12px;
    }

    .btn-delete {
        padding: 4px 6px;
        font-size: 12px;
    }
}

/* Fim Modal */








/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;


}



.imc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    background: var(--bg-imc);
    position: relative;
}

.icon-config {
    position: absolute;
    right: 15px;

    top: 20px;

}

.icon-config a {
    color: var(--cor-icon);
    font-size: 20px;
    cursor: pointer;
}



.icon-config i {
    transition: transform 0.3s;
}

.icon-config i:hover {
    transform: rotate(90deg);
}




.title {
    color: var(--cor-title);
    font-size: 25px;
}

.inputs #form {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

#form input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

#form button {
    width: 300px;
    height: 40px;
    color: var(--cor-btn);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg-btn);
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

#form button:hover {
    color: var(--cor-btn-hover);
    cursor: pointer;
    background-color: var(--bg-btn-hover);
    border: 2px solid var(--cor-border-btn-hover);
    transition: .5s;

}

/* fim Main */

/* resultado */

#container-resultado {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #333;
    margin-top: 10px;
    width: 500px;
    height: 150px;
    background: var(--bg-imc);


}

.resultado-baixo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado-baixo h2 {
    color: var(--cor-reslt-baixo);

}

.resultado-normal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.resultado-normal h2 {
    color: var(--cor-reslt-normal);
}


.resultado-sobrepeso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado-sobrepeso h2 {
    color: var(--cor-reslt-sobrepeso);
}


.resultado-obesidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado-obesidade h2 {
    color: var(--cor-reslt-obesidade);
}


.resultado-obesidade-grave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado-obesidade-grave h2 {
    color: var(--cor-reslt-obesidade-grave);
}

/* fim resultado */

/* Responsivo */
@media (max-width: 320px) {

    #container {
        width: 100%;
        min-height: 100vh;
        padding: 10px;
    }


    .imc {
        width: 95vw;
        min-height: 350px;
        height: auto;
        padding: 20px 0;
    }

    .title {
        font-size: 1.5rem;
        
        margin-top: 25px;
    }

    .inputs #form {
        margin-top: 20px;
    }

    #form input {

        font-size: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 200px;

    }

    #form button {
        font-size: 10px;

        height: 30px;
        width: 200px;

    }

    .icon-config {
        top: 10px;
        right: 10px;
    }


    #container-resultado {
        display: none;
        padding-left: 20px;
        width: min(500px, 95vw);
        height: 150px;


    }
}





@media (max-width: 480px) {

    .imc {
        width: 80vw;
        height: 50vh;
    }

    .title {
        font-size: 1.5rem;
    }



    #form input {

        font-size: 16px;


        width: 200px;

    }

    #form button {

        font-size: 16px;


        width: 200px;

    }

    .icon-config {
        top: 10px;
        right: 10px;
    }


    #container-resultado {
        display: none;

        width: 80vw;
        height: 150px;


    }
}

/* Fim Responsivo */